application:
    errorPresenter: Error:Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days
    autoStart: auto

extensions:

services:
    router: App\Router\RouterFactory::createRouter
    - App\Model\Facade\CarFacade
